In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf

In [5]:
x_data = np.linspace(0.0, 10.0, 1000000)

In [9]:
noise = np.random.randn(len(x_data))

In [15]:
#y=mx+b ,b = 5
y_true = (0.5 * x_data) + 5 + noise

In [24]:
x_df = pd.DataFrame(data = x_data, columns=['x-Data'])

In [32]:
y_df = pd.DataFrame(data = y_true, columns=['Y'])

In [33]:
x_df.head()

    x-Data
0  0.00000
1  0.00001
2  0.00002
3  0.00003
4  0.00004